.row {
  width: 65%;
}

.row.ordenar_infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  padding: 20px 0px 30px;
  border-bottom: 1px dashed #42679e;
  color: rgb(105, 105, 105);
  font-weight: bold;
}

.last-row {
  margin-bottom: 80px;
}
